body {
	padding-top: 60px;
}
.panel-title {
	font-size: 14px;
}


.counties {
  fill: none;
  stroke: gray;
}

.counties .active {
  stroke: #000;
  stroke-width: 1.5;
}

.states {
  fill: none;
  stroke: #000;
}

#leftNav.affix {
    top: 40px;
    position: fixed!important;
}

.background {
  fill: none;
  pointer-events: all;
}

#UIalert {
    z-index: 999;
    position: relative;
    top: -300px;
}

#UIalert img {
    max-width: 150px;
    max-height: 100px;
}


.b0-9 { fill:#fff5eb; }
.b1-9 { fill:#fee6ce; }
.b2-9 { fill:#fdd0a2; }
.b3-9 { fill:#fdae6b; }
.b4-9 { fill:#fd8d3c; }
.b5-9 { fill:#f16913; }
.b6-9 { fill:#d94801; }
.b7-9 { fill:#a63603; }
.b8-9 { fill:#7f2704; }



.q0-9 { cursor: pointer; fill:#ffffe5; }
.q1-9 { cursor: pointer; fill:#fff7bc; }
.q2-9 { cursor: pointer; fill:#fee391; }
.q3-9 { cursor: pointer; fill:#fec44f; }
.q4-9 { cursor: pointer; fill:#fe9929; }
.q5-9 { cursor: pointer; fill:#ec7014; }
.q6-9 { cursor: pointer; fill:#cc4c02; }
.q7-9 { cursor: pointer; fill:#993404; }
.q8-9 { cursor: pointer; fill:#662506; }

.g0-9 { fill:#d9f0a3; }
.g1-9 { fill:#addd8e; }
.g2-9 { fill:#78c679; }
.g3-9 { fill:#41ab5d; }
.g4-9 { fill:#238443; }
.g5-9 { fill:#006837; }
.g6-9 { fill:#004529; }
.g7-9 { fill:#4C6F57; }
.g8-9 { fill:#3D5043; }



/* legend CSS */

#legend {
    padding: 1.5em 0 0 1.5em;
}

li.key {
    border-top-width: 15px;
    border-top-style: solid;
    font-size: .75em;
    width: 10%;
    padding-left: 0;
    padding-right: 0;
}

.legend {
    font-size: 10px;
}
rect {
    cursor: pointer;                           /* NEW */
    stroke-width: 2;
}
rect.disabled {                              /* NEW */
    fill: transparent !important;              /* NEW */
}

#chart {
    height: 200px;
    position: relative;
    width: 600px;
}

.tooltip {
    background: #eee;
    box-shadow: 0 0 5px #999999;
    color: #333!important;
    display: none;
    font-size: 12px;
    left: 60px;
    padding: 10px;
    position: auto;
    text-align: center;

    width: 150px;
    z-index: 10;
    opacity: 1;
    white-space: normal!important;
}

.tooltip .label {
    color: #333!important;
    font-size: 12px!important;
    white-space: normal!important;
}

.btn.active, .btn:active {
    background-color: #9f1a0b;
}

#panelSideBar {
    padding-top: 19.5px;
}

#panelSideBar2 {
    padding-top: 19.5px;
}

#leftNavParent2 {
    padding-top: 19.5px;
}

#choroplethTopBar {
    padding-top: 19.5px;
}

#choroplethTopBar .btn {
        font-size: 12px;
    } 

@media screen and (max-width: 767px) {
    #choroplethTopBar .btn {
        font-size: 8px;
    } 
}
@media screen and (max-width: 991px) {
    #choroplethTopBar .btn {
        font-size: 11px;
    } 
    #UIalert {
    z-index: 999;
    position: relative;
    top: -400px;
}
}
@media screen and (max-width: 1190px) {
    #choroplethTopBar .btn {
        font-size: 9.5px;
    } vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv
}